<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>
<body>
    <div class="nav">
        <h3>Pinterest</h3>
        <div class="other">
            <a href="/profile">Profile</a><a href="/feed">Feed</a><a href="/logout" id="logout">Logout</a>
        </div>
    </div>
</body>
</html>